.vertical-timeline::before {
  border-radius: 12px;
}

.vertical-timeline-element-content {
  position: relative;
  background-color: black;
  border-radius: 16px;
  padding: 1em !important;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
  transition:
    box-shadow 300ms linear,
    background-color 300ms ease;
}

@media screen and (max-width: 1170px) {
  .vertical-timeline-element-content {
    padding: 0.7em 1em !important;
  }
}

.vertical-timeline-element-content:hover {
  box-shadow: 0 0 4px 2px #ff1f8f;
}
