.vertical-timeline {
  --icon-size-small: 3rem;
  --icon-size-large: 4.2rem;
  --icon-size: var(--icon-size-large);
}

.vertical-timeline::before {
  border-radius: 12px;
}

.vertical-timeline-element-content {
  position: relative;
  background-color: black;
  border-radius: 16px;
  padding: 1em !important;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
  transition:
    box-shadow 300ms linear,
    background-color 300ms ease;
}

@media screen and (max-width: 1170px) {
  .vertical-timeline {
    --icon-size: var(--icon-size-small);
  }
  .vertical-timeline-element-content {
    padding: 0.7em 1em !important;
    margin-left: calc(var(--icon-size) * 1.5) !important;
  }
  .vertical-timeline::before {
    /* left: calc(var(--icon-size) / 2); */
  }
}

.vertical-timeline-element-content:hover {
  box-shadow: 0 0 4px 2px #ff1f8f;
}

.vertical-timeline-element-icon {
  width: var(--icon-size) !important;
  height: var(--icon-size) !important;
}
@media screen and (min-width: 1170px) {
  .vertical-timeline-element-icon {
    margin-left: calc(-1 * var(--icon-size) / 2) !important;
  }
}
