.vertical-timeline {
  --icon-size-small: 3rem;
  --icon-size-large: 4.2rem;
  --icon-size: var(--icon-size-large);
}

.vertical-timeline-element-date {
  opacity: 1 !important;
  color: rgb(178, 178, 178) !important;
}

.vertical-timeline::before {
  --gradient-height-start: 30px;
  --gradient-height-end: 80px;
  --gradient-start-offset: 5px;
  --gradient-end-offset: 70px;

  border-radius: 12px;
  background-color: transparent !important;
  background-image: linear-gradient(
    transparent var(--gradient-start-offset),
    #888888 calc(var(--gradient-height-start) + var(--gradient-start-offset)),
    #888888 calc(100% - var(--gradient-height-end) - var(--gradient-end-offset)),
    transparent calc(100% - var(--gradient-end-offset))
  ) !important;
}

.vertical-timeline-element-content {
  position: relative;
  background-color: black;
  border-radius: 16px;
  padding: 1em !important;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
  transition:
    box-shadow 300ms linear,
    background-color 300ms ease;
}

@media screen and (max-width: 1170px) {
  .vertical-timeline {
    --icon-size: var(--icon-size-small);
  }
  .vertical-timeline-element-content {
    padding: 0.7em 1em !important;
    margin-left: calc(var(--icon-size) * 1.5) !important;
  }
  .vertical-timeline::before {
    left: calc(var(--icon-size) / 2);
  }
}

.vertical-timeline-element-content:hover {
  box-shadow: 0 0 4px 2px #ff1f8f;
}

.vertical-timeline-element-icon {
  width: var(--icon-size) !important;
  height: var(--icon-size) !important;
}
@media screen and (min-width: 1170px) {
  .vertical-timeline-element-icon {
    margin-left: calc(-1 * var(--icon-size) / 2) !important;
  }
}
