@property --animated-box-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@property --animated-box-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffffff;
}

.animated-box-shadow {
  position: relative;
  --animated-box-color: #ffffff;
}

.animated-box-shadow:hover {
  --animated-box-color: #ff1f8f;
}

.animated-box-shadow-child {
  z-index: 2;
  overflow: hidden;
  border-radius: 12px;
}

.animated-box-shadow::after,
.animated-box-shadow::before {
  content: '';
  position: absolute;
  height: calc(100% + 12px);
  width: calc(100% + 12px);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  /* background-color: red; */
  z-index: 1;
  border-radius: 17px;
  background-image: conic-gradient(
    from var(--animated-box-angle),
    transparent 0%,
    transparent 20%,
    var(--animated-box-color) 45%,
    transparent 55%,
    transparent 70%,
    var(--animated-box-color) 95%,
    transparent 100%
  );
  animation: 6s gradient-spin linear infinite;
  transition: --animated-box-color 0.3s ease;
}

.animated-box-shadow::before {
  filter: blur(20px);
  opacity: 0.7;
}

@keyframes gradient-spin {
  from {
    --animated-box-angle: 0deg;
  }
  to {
    --animated-box-angle: 360deg;
  }
}
