@property --animated-box-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@property --animated-box-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffffff;
}

.animated-box-shadow {
  position: relative;
  --animated-box-color: #ffffff;
  --animated-box-line-width: 4px;
  --animated-box-border-radius: 12px;
}

.animated-box-shadow.hover-only {
  --animated-box-color: transparent;
}
.animated-box-shadow.small-line {
  --animated-box-border-radius: 15px;
  --animated-box-line-width: 2px;
}

.animated-box-shadow:hover {
  --animated-box-color: #ff1f8f;
}
.animated-box-shadow.white:hover {
  --animated-box-color: #ffffff;
}

.animated-box-shadow-child {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: var(--animated-box-border-radius);
}

.animated-box-shadow::after,
.animated-box-shadow::before {
  overflow: hidden;
  content: '';
  position: absolute;
  height: calc(100% + var(--animated-box-line-width) * 2);
  width: calc(100% + var(--animated-box-line-width) * 2);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
  border-radius: calc(
    var(--animated-box-border-radius) + var(--animated-box-line-width)
  );
  background-image: conic-gradient(
    from var(--animated-box-angle),
    transparent 0%,
    transparent 20%,
    var(--animated-box-color) 45%,
    transparent 55%,
    transparent 70%,
    var(--animated-box-color) 95%,
    transparent 100%
  );
  animation: 8s gradient-spin linear infinite;
  transition: --animated-box-color 2s ease;
}

.animated-box-shadow::before {
  filter: blur(calc(var(--animated-box-line-width) * 4));
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .animated-box-shadow::before {
    display: none;
  }
}

@keyframes gradient-spin {
  from {
    --animated-box-angle: 0deg;
  }
  to {
    --animated-box-angle: 360deg;
  }
}
