@import 'tailwindcss';

@layer utilities {
  .text-h1 {
    @apply text-8xl @md:text-[8rem] @lg:text-[10rem] @xl:text-[12rem] @2xl:text-[16rem];
  }
  .text-h2 {
    @apply text-8xl @md:text-[8rem] @lg:text-[10rem] @xl:text-[12rem] @2xl:text-[16rem];
  }
  .text-h3 {
    @apply text-lg @sm:text-2xl @md:text-4xl @2xl:text-6xl;
  }
  .text-paragraph {
    @apply text-sm @md:text-base @lg:text-lg @2xl:text-xl;
  }
  .neon-button {
    @apply shadow-[0_0_10px_transparent] hover:bg-[#ff1f8f] hover:shadow-[0_0_20px_#ff1f8f];
  }
  .neon-link {
    @apply text-white underline decoration-transparent hover:text-[#ff1f8f] hover:decoration-white;
  }
  .neon-inline-link {
    @apply text-white underline decoration-white hover:text-[#ff1f8f];
  }
}

@theme inline {
  --font-roboto-slab: var(--font-roboto-slab);
}

@theme {
  --animate-custom-pulse: custom-pulse 1s alternate linear infinite;
  --animate-up-and-down: up-and-down 3s ease-in-out infinite;

  --container-sm: 40rem;
  --container-md: 48rem;
  --container-lg: 64rem;
  --container-xl: 80rem;
  --container-2xl: 96rem;
}

@keyframes custom-pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes up-and-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
}

@utility neon {
  text-shadow:
    0.022em 0.022em #ff1f8f,
    -0.007em -0.007em 7px #ff1f8f;
}

@utility white-filter {
  filter: brightness(0) invert(1);
}

@utility black-filter {
  filter: brightness(0);
}

body {
  background-color: black;
  color: white;
}
