.neon-box-shadow {
  transition:
    box-shadow 600ms ease,
    outline-color 600ms ease,
    border-color 600ms ease;
  box-shadow: 0 0 5px 2px white;
}
.neon-box-shadow:hover {
  box-shadow: 0 0 3px 2px #ff1f8f;
}
